.flex-row{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}

.margin-left {
    margin-left:15px;
}

.font-large {
    margin: 15px;
    padding: 20px;
    font-size: large;
}
.colon-large {
    margin: 15px;
    font-size: large;
}

.margin {
    margin: 10px;
}

.max-width {
    max-width: 200px !important;;
}

.wClass {
    color: 'white';
}