.flex-row{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}

// .poop {
//     width: 50% !important;
// }

.margin-left {
    margin-left:15px;
}

.font-large {
    margin: 15px;
    padding: 20px;
    font-size: large;
}